body {
    background-color: #123;
    margin: 0px;
}

/* header */
header {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #123;
    color: white;
    padding: 0px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: -webkit-fill-available;
    color: white;
    background-color: black;
    padding: 10px 20px;
    /*margin: 10px;*/
}

h2#title {
    margin: 4px 0px;
}

.logo {
    margin-top: 8px;
}

.main-heading {
    max-width: 800px;
    text-align: center;
    margin: auto;
}


.main-heading p {
    font-size: 19px;
    line-height: 26px;
}

.header {
    overflow: hidden;
    background-color: #0b1522;
    padding: 10px 20px;
}

.header img {
    width: 50px;
}

.header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    padding: 0 !important;
}

.header-right {
    float: right;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

/* app-pomodoro */

.app-pomodoro {
    margin: 10px 20px;
    padding: 10px;
    color: lightblue;
    border: red dotted;
}

